/* Variables CSS - Definimos los colores base */
:root {
    /* Tema Red Hat por defecto */
    --primary-color: #EE0000;
    --secondary-color: #CC0000;
    --background-color: #F5F5F5;
    --text-color: #151515;
    --text-button-color: #FFFFFF;
}

/* Tema SRI */
.theme-sri {
    --primary-color: #0163a3;
    --secondary-color: #014c80;
    --background-color: #F0F4F7; /* Un gris azulado claro */
    --text-color: #333;
    --text-button-color: #FFFFFF;
}

/* Estilos generales */
body {
    margin: 0;
    font-family: "Red Hat Display", Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
}

header {
    margin-bottom: 2rem;
}

.logo {
    width: 150px;
    margin-bottom: 1rem;
}

h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Botones y formularios */
.btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--text-button-color);
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: var(--secondary-color);
}

/* Estilos de los inputs */
input[type="text"] {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    width: 250px;
}

.search-form {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

/* Tabla de archivos */
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
}

th {
    background-color: var(--primary-color);
    color: var(--text-button-color);
}

tbody tr:hover {
    background-color: #f9f9f9;
}

/* Paginación y controles de lista */
.list-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.per-page-form {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.pagination a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--primary-color);
    transition: background-color 0.3s, color 0.3s;
}

.pagination a.active, .pagination a:hover {
    background-color: var(--primary-color);
    color: var(--text-button-color);
    font-weight: bold;
}
